<a href="products">products</a>
<a href="orders">orders</a>
<form method="post" action="fulfilment">
  <input type="submit" value="No Orders" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="submit" value="1122" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="submit" value="1123" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="submit" value="1122,1123" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="submit" value="1124" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="submit" value="1122,1124" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="submit" value="1123,1124" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="submit" value="1122,1123,1124" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1122,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1123,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1122,1123,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1124,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1122,1124,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1123,1124,1125" />
</form>
<form method="post" action="fulfilment">
  <input type="hidden" name="order_ids[]" value="1122" />
  <input type="hidden" name="order_ids[]" value="1123" />
  <input type="hidden" name="order_ids[]" value="1124" />
  <input type="hidden" name="order_ids[]" value="1125" />
  <input type="submit" value="1122,1123,1124,1125" />
</form>
